.account-page-custom {
	background-image: url(/images/login.jpg);
	background-position: center;
	background-size: cover;
	padding: 215px 0;
}

.form-container-custom {
	width: 350px;
	height: 320px;
	position: relative;
	left: 10%;
	background: white;
	text-align: center;
	padding: 30px 10px;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.form-container-custom form {
	max-width: 300px;
	padding: 0 20px;
}