.text{
    width: 100%;
    height: 35px;
    margin: 31px 0;
    padding: 0 10px;
    border: 1px solid black;
    font-size: medium;
}
.filter{
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
.custom-btn{
    width: 20%;
    height: 35px;
    background: gray;
    color: white;
    padding: 8px 30px;
    margin: 30px 0px;
    transition: 0.5s;
    border: 0px;
}
.custom-btn:hover{
    background: black;
}
select{
    font-weight: bold;
    font-family: 'poppins-regular';
    border: 1px solid;
    padding: 5px;
    margin: 30px 0;
    height: 35px;
}
select:focus{
    outline: none;
}

.row-2{
	margin: 50px auto 0px;
}
.page-btn{
	margin: 0 auto 80px;
    margin-top: 30px;
}
.page-btn span{
	display: inline-block;
	border: 1px solid;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.page-btn span:hover{
	background-color: black;
	color: white;
}
table{
	width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}
th{
	padding: 5px;
	color: white;
	background: black;
	font-weight: normal;
    border: 1px solid white;
}
td{
	padding: 10px 5px;
    border: 1px solid black;
}
.detail_, a{
    transition: 0.5s;
}
.detail_:hover, .detail_ a:hover{
    color: white;
    background-color: black;
}
